.col {
    flex-grow: 0;
}

.arrow {
    padding-top: 100px
}

#cnct {
    margin: 10% 30%;
}

#driverId,
#givenName,
#wiki,
#familyName,
#dateOfBirth,
#nationality {
    text-align: center;
}
button{
    margin-left: 100px;
}
h1{
    text-align: center;
}
#info{
    text-align: center;
}
